<!-- Banner that gets displayed at the top when you pause the slideshow by clicking the carousel -->
<p-overlayPanel #op [dismissable]="false">
  <i class="fa fa-pause" aria-hidden="true"></i>
  <span id="pausestatus">Slideshow Paused</span>
  <span id="resume" (click)="resume(); op.hide();">
      <i class="fa fa-play" aria-hidden="true"></i> Resume Slideshow
  </span>
  <!-- <span>- Click page and choose '<span id="resume">Resume Slideshow</span>' from the menu to continue.</span> -->
</p-overlayPanel>

<!-- Carousel -->
<div #carousel class="carousel slide" data-ride="carousel" data-interval="20000" data-pause="false" (click)="op.show($event); onCarouselClick();">
  <div #carouselinner class="carousel-inner">
    <carousel-item [type]="'date-time'" [isFirst]="true"></carousel-item>
    <carousel-item [type]="'customer-visits'" (gotData)="gotData($event, 'customer-visits')"></carousel-item>
    <carousel-item [type]="'rotating-images'" (gotData)="gotData($event, 'rotating-images')"></carousel-item>
    <carousel-item [type]="'holidays'"        (gotData)="gotData($event, 'holidays')"></carousel-item>
    <carousel-item [type]="'weather'"         (gotData)="gotData($event, 'weather')"></carousel-item>
  </div>
</div>

<!-- Modal menu that gets displayed when you click the carousel -->
<p-dialog [(visible)]="displayMenu" [modal]="true">
    <p-header>
        Slideshow Menu
    </p-header>
    
    <!-- Customer Visists -->
    <div class="menu" id="menu-customer-visits">
      <button pButton type="button" icon="fa-handshake-o" label="Go to Customer Visits" (click)="goToSlide('customer-visits')"></button>
      <button pButton type="button" icon="fa-handshake-o" label="Get Next Customer Visit" (click)="getNextItem('customer-visits')" class="ui-button-info"></button>
    </div>

    <!-- Rotating Images -->
    <div class="menu" id="menu-rotating-images">
      <button pButton type="button" icon="fa-picture-o" label="Go to Rotating Images" (click)="goToSlide('rotating-images')"></button>
      <button pButton type="button" icon="fa-picture-o" label="Get Next Rotating Image" (click)="getNextItem('rotating-images')" class="ui-button-info"></button>
    </div>

    <!-- Holidays -->
    <div class="menu" id="menu-holidays">
      <button pButton type="button" icon="fa-tree" label="Go to Holidays" (click)="goToSlide('holidays')"></button>
      <button pButton type="button" icon="fa-tree" label="Get Next Holiday" (click)="getNextItem('holidays')" class="ui-button-info"></button>
    </div>

    <div class="menu">
      <!-- Weather -->
      <button id="weather-button" pButton type="button" icon="fa-bolt" label="Go to Weather" (click)="goToSlide('weather')"></button>

      <!-- Date/Time -->
      <button id="date-time-button" pButton type="button" icon="fa-clock-o" label="Go to Date/Time" (click)="goToSlide('date-time')"></button>

      <!-- Resume -->
      <button id="resume-button" pButton type="button" icon="fa-play" label="Resume Slideshow" class="ui-button-success" (click)="resume(); op.hide();"></button>
    </div>

    <p-footer>
      <p-checkbox binary="true" [(ngModel)]="closeMenuOnItemSelected" label="Close the menu after making your selection"></p-checkbox>
    </p-footer>
</p-dialog>